<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div>
        <div style="text-align: left; margin: 10px 0px; border: 1px solid lightgray;background-color: lightgrey; border-radius: 5px; padding: 5px 15px;">
            <h2 style="font-size: 2.5rem; font-style: italic;">
                <%= blog.name %>
            </h2>
            <h3 style="font-style: italic;">
                <%= blog.email %>
            </h3>
            <h4>
                <%= blog.subject %>
            </h4>
            <p>
                <%= blog.message %>
            </p>
        </div>
        <p style="text-align: center;">copyright &copy; 2024</p>
    </div>
</body>
</html>